.modal-compra.container-fluid {
  width: 100%;
  position: absolute;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: var(--color-green);
  color: #fff;
}

.modal-compra i {
  font-size: 72px;
  margin-bottom: 24px;
}

.modal-compra h1 {
  font-size: 48px;
}

.modal-compra p {
  max-width: 600px;
  margin: 12px auto 48px;
}

.modal-compra button {
  max-width: 300px;
  width: 100%;
  height: 52px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

.modal-compra button:hover {
  opacity: 0.9;
}
