<div class="container mt-5">
  <div class="row">
    <h4 class="text-center text-muted font-weight-bold">
      Bola Mamona Borracha Maciça Furacão Pet Rosa
    </h4>
  </div>
</div>

<div class="container">
  <div class="row mt-2">
    <div
      class="col-md-8 col-12 mx-auto d-flex justify-content-center border w-100 shadow"
    >
      <img
        class="w-50 mx-auto"
        src="/assets/bola.png"
        alt="Imagem do produto"
      />
    </div>

    <div class="col-md-4 col-12 pl-md-2 px-0">
      <div class="bg-light shadow w-100 p-5">
        <h3>Preço: <span class="text-success">R$ 10,90</span> à vista</h3>
        <p class="">Bola Mamona Borracha Maciça Furacão Pet Rosa</p>
      </div>
      <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"
            >Quantidade</label
          >
        </div>
        <select
          class="custom-select justify-content-center"
          id="inputGroupSelect01"
        >
          <option selected value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            Selecionar
          </button>
        </div>
      </div>

      <div class="p-2">
        <a
          class="btn btn-lg btn-green w-100"
          routerLink="/carrinho"
          role="button"
        >
          <i class="fas fa-shopping-cart mr-2"></i>
          Comprar</a
        >
      </div>
      <div class="p-2">
        <a
          class="btn btn-lg btn-blue w-100"
          routerLink="/carrinho"
          role="button"
          ><i class="fas fa-heart mr-2"></i>Doar</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5 px-0">
  <div class="card shadow w-100 p-5" style="width: 19rem">
    <h3>Descrição</h3>
    <p class="card-text lead w-100">
      Indicado para cães, borracha macia e resistente, com pontos e formato de
      uma mamona, brinquedo ideal para estimular as habilidades mentais.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
      repudiandae consectetur voluptas. Molestias quia labore assumenda
      doloribus nemo quidem autem, eum quibusdam a possimus distinctio, debitis
      dolor architecto ab, neque in veniam. Saepe dolores maiores harum earum
      animi? Consequatur velit nam vero atque doloribus cupiditate laboriosam
      incidunt molestiae tenetur adipisci! Magnam fugit eveniet earum soluta,
      nulla maxime cumque provident eligendi ex blanditiis possimus ipsa, autem,
      alias eaque non culpa quam. Repellat alias quia iusto eos itaque illum.
      Odio, neque vel.
    </p>
  </div>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h3>Alguns produtos que podem te interessar...</h3>
    </div>
    <app-card-item></app-card-item>
    <app-card-item></app-card-item>
    <app-card-item></app-card-item>
  </div>
</div>
