<!-- Colunas sempre com metade da largura disponível, em dispositivos móveis e desktop -->
<div class="container-fluid bg-image">
  <div class="row height-100">
    <div
      class="d-none col-md-6 bg-dark d-flex justify-content-center align-items-center"
    >
      <!--Logotipo -->
      <img src="assets/logo3.svg" />
      <!--/Logotipo -->
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center w-100 h-100">
      <div class="container w-100">
        <!--primeira linha - título-->
        <div class="row w-100 mt-5 mb-5">
          <div class="col-12">
            <h1 class="text-center font-weight-bold text-muted">Login</h1>
          </div>
        </div>
        <!--final-->
        <div class="row mb-5 d-flex justify-content-center">
          <div class="col-12">
            <div class="form">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                required
                [(ngModel)]="userLogin.usuario"
              />
              <label for="exampleInputEmail1" class="label-name">
                <span class="content-name">E-mail:</span>
              </label>
            </div>

            <div class="form">
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="userLogin.senha"
                required
              />
              <label for="exampleInputPassword1" class="label-name">
                <span class="content-name"> Senha </span>
              </label>
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-outline-success w-50"
                (click)="entrar()"
              >
                Entrar
              </button>
            </div>

            <div class="row mt-5 justify-content-between">
              <div>
                <a class="font-weight-bold text-muted" routerLink="/cadastro"
                  >Esqueceu sua senha?</a
                >
              </div>

              <div class="text-muted">
                Não tem uma conta?&ensp;<a
                  class="font-weight-bold text-muted"
                  routerLink="/cadastro"
                  >Cadastre-se</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--final-->
    </div>
  </div>
</div>
