<div class="container">
  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Login</h1>
    </div>
  </div>

  <div class="row mb-5 d-flex justify-content-center">
    <div class="col-md-6">


      <div class="form">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
          [(ngModel)]="userLogin.usuario"
        >
        <label for="exampleInputEmail1" class="label-name">
          <span class="content-name">E-mail:</span>
        </label>
      </div>

      <div class="form">
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="userLogin.senha" required>
        <label for="exampleInputPassword1" class="label-name">
          <span class="content-name">
            Senha
          </span>
        </label>
        
        
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success w-25" (click)="entrar()">
          Entrar
        </button>
      </div>

      <div class="mt-3 d-flex justify-content-end">
        Não tem uma conta?&ensp;<a routerLink="/cadastro">Cadastre-se</a>
      </div>
    </div>
  </div>
</div>