<div class="container ">
  <div class="row">
    <div class="col-md-6 p-3">
      <h2 class="font-weight-bold cor-titulo">Quem somos?</h2>
      <div>
        <p class="text-justify font-weight-bold">
          Somos um e-commerce com produtos produzidos de forma ecológica através de uma impressora 3D, 
          para cães e gatos com necessidades especiais. O site oferece também a opção de doação para ONG's e abrigos. 
          O objetivo é oferecer produtos que geram menos impactos ao meio ambiente e com preço acessível, 
          e que também possibilite a melhora na qualidade de vida desses animais.
        </p>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6"></div>

    <div class="col-md-6">
      <h2 class="font-weight-bold cor-titulo p-3">
        Responsabilidade<br />
         com os animais<br />
      </h2>

      <div class="col-lg text-justify">
        <p class="d-flex text-justify font-weight-bold">
          Na HelpPet, a saúde e bem-estar dos pets vêm sempre em primeiro lugar. 
          Além de oferecer os melhores produtos ecológicos, apoiamos a adoção e a defesa dos direitos dos animais.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="font-weight-bold cor-titulo p-3">
        Responsabilidade<br>
        socioambiental
      </h2>

      <div class="col-lg older-lg-1 text-justify">
        <p class= "font-weight-bold">
          Assumimos o compromisso de sermos agentes de mudança, e por isso nossa empresa possuí a política e cultura voltadas 
          para a preservação do meio ambiente e nos preocupamos com o mundo que será deixado para as gerações futuras. 
          
        </p>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <h2 class="font-weight-bold cor-titulo p-3">
        Apoio à Ongs
      </h2>

      <div class="col-lg older-lg-1 text-justify">
        <p class = "font-weight-bold">
        Acreditamos que nosso trabalho não deve parar por aqui, e por isso oferecemos a opção de doar para as Ong's que apoiamos.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="font-weight-bold cor-titulo p-3">
        Consumo e produção <br>
        responsável
      </h2>

      <div class="col-lg older-lg-1 text-justify">
        <p class= "font-weight-bold">
          No ritmo atual, consumimos muito mais recursos naturais do que deveríamos. Isso tem como consequência o fato de que, nos próximos anos, poderemos sofrer não só com a já temida falta de água, mas também com a falta de outros recursos, como alimentos, minerais, energia, etc. Pensando nisso, tivemos
          a idéia de fazer nossos produtos com a impressora 3D, que diminui boa parte do desperdício de produtos e materiais, pois pode produzir produtos sob demanda com muito menos tempo. Uma impressora 3D reduz consideravelmente a pegada de carbono e busca diminuir a poluição, bem como o desperdício de produção e a energia que também é gasta para produzir, armazenar e transportar um objeto.
          
        </p>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>


<div class="parallax"></div>

  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      
     
    </div>
  </div>



 
  <div class="container">
    <div class="row">
      <div class="col m-4"><div class="card border w-100 shadow" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold cor-titulo">Missão</h5>
            <p class="card-text font-weight-bold">Possibilitar mais qualidade de vida aos pets; </p>
            <p class="card-text font-weight-bold">Manter preços acessíveis; </p>
            <p class="card-text font-weight-bold">Contribuir com o meio ambiente através de nosso trabalho; </p>
            </div>
        </div></div>
      <div class="col m-4"><div class="card border w-100 shadow" style="width: 18rem;">
        
          <div class="card-body">
            <h5 class="card-title font-weight-bold cor-titulo">Visão</h5>
            <p class="card-text font-weight-bold">Ajudar todos os animais especiais;</p>
            <p class="card-text font-weight-bold">Ser referência em vendas de produtos acessíveis e de materiais que não agridem o meio ambiente;</p>
            <p class="card-text font-weight-bold">Ser referência em atendimento para os nossos clientes;</p>

            </div>
        </div></div>
      <div class="col m-4"><div class="card border w-100 shadow" style="width: 18rem;">
         
          <div class="card-body">
            <h5 class="card-title font-weight-bold cor-titulo">Valores</h5>
            <p class="card-text font-weight-bold">  Somos apaixonados por pets; </p>
              <p class="card-text font-weight-bold"> Respeitamos uns aos outros;</p>
              <p class="card-text font-weight-bold"> Temos um compromisso com o meio ambiente;</p>
              <p class="card-text font-weight-bold"> Encantamos nossos clientes;</p>
              <p class="card-text font-weight-bold"> Temos prazer em servir!</p>
         
          </div>
        </div>
      </div>
     
    </div>
  </div>

 



<div class="jumbotron jumbotron" style="background-color: white;" >
  <h1 class="text-center  cor-fonte font-weight-bold">Nosso time</h1>
  <div class="container" >
<div class="row justify-content-center">
  <div class="col-md-2 m-5 p-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img
          class="nossas-fotos p-3"
          src="assets/img-icones-redes-desenvolvedores/Carol-foto.jpg"
          alt="Caroline"
        />

        <p class="text-lg-center font-weight-bold">
          Caroline das Mercês
        </p>
        <p class="text-lg-center font-weight-bold"  style="color: rgb(23, 97, 39);">
          Developer - Scrum Master
        </p>

       </div>

       <div class="flip-card-back">
        <h5 class="pt-5 font-weight-bold">Caroline das Mercês</h5>

        <ul>
            <li><a href="https://www.linkedin.com/in/carolinedasmerces/" target="_blank" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon></a></li>
            <li><a  href="https://github.com/carolinemerces" target="_blank"class="icoGithub" title="Github">
              <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon></a></li>
        </ul>

    </div>

    </div>
  </div>
</div>




<div class="col-md-2 m-5 p-3 ">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
      <img
        class="nossas-fotos p-3"
        src="/assets/img-icones-redes-desenvolvedores/Cleiton-foto.jpg"
        alt="Cleiton"
      />

      <p class="text-lg-center font-weight-bold">
        Cleiton de Andrade
      </p>
      <p class="text-lg-center font-weight-bold " style="color: rgb(23, 97, 39);">
        Developer Full Stack
      </p>

     </div>

     <div class="flip-card-back">
      <h5 class="pt-5 font-weight-bold">Cleiton de Andrade</h5>

      
      <ul>
        <li><a href="https://www.linkedin.com/in/cleitonaguiarandrade/" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon></a></li>
        <li><a  href="https://github.com/Binis29" target="_blank"class="icoGithub" title="Github">
          <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon></a></li>
    </ul>

  </div>

  </div>
</div>
</div>
</div>



  <div class="row justify-content-center">
<div class="col-md-2 m-5 p-3 ">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
      <img
        class="nossas-fotos p-3"
        src="/assets/img-icones-redes-desenvolvedores/Deborah-foto.png"
        alt="Deborah"
      />

      <p class=" text-lg-center font-weight-bold">
       Deborah Evelyn Carlota
      </p>
      <p class=" text-lg-center font-weight-bold" style="color: rgb(23, 97, 39);">
        Developer Full Stack
      </p>

     </div>

     <div class="flip-card-back">
      <h5 class="pt-5 font-weight-bold">Deborah Evelyn Carlota</h5>

         <ul>
        <li><a href="https://www.linkedin.com/in/deborah-evelyn-carlota-584366a1/" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon></a></li>
        <li><a  href="https://github.com/DeborahEvelyn" target="_blank"class="icoGithub" title="Github">
          <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon></a></li>
    </ul>

  </div>

  </div>
</div>
</div>








  <div class="col-md-2 m-5 p-3  ">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img
          class="nossas-fotos p-3"
          src="/assets/img-icones-redes-desenvolvedores/Julio-foto.jpg"
          alt="Julio"
        />

        <p class= "text-lg-center font-weight-bold">
          Julio Cesar
        </p>
        <p class=" text-lg-center font-weight-bold" style="color: rgb(23, 97, 39);">
          Developer - Tech Lead
        </p>       
        
      </div> 

      <div class="flip-card-back">
        <h5 class="pt-5 font-weight-bold">Julio Cesar</h5>


        <ul>
          <li><a href="https://www.linkedin.com/in/juliop3p/" target="_blank" class="icoLinkedin" title="Linkedin">
            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon></a></li>
          <li><a  href="https://github.com/juliop3p/" target="_blank"class="icoGithub" title="Github">
            <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon></a></li>
      </ul>

    </div>
    </div>
 </div>
</div>



  <div class="col-md-2 m-5 p-3 ">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img
          class="nossas-fotos p-3"
          src="/assets/img-icones-redes-desenvolvedores/Raquel-foto.jpg"
          alt="Raquel"/>

        <p class="text-lg-center  font-weight-bold">
          Raquel Figueiredo
        </p>
        <p class="text-lg-center  font-weight-bold" style="color: rgb(23, 97, 39);">
          Developer Full Stack
        </p>
      
      </div> 
        <div class="flip-card-back">
          <h5 class="pt-5 font-weight-bold">Raquel Figueiredo</h5>
  

          <ul>
            <li><a href="https://www.linkedin.com/in/figueiredo-raquel/" target="_blank" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon></a></li>
            <li><a  href="https://github.com/Figueiredo-Raquel" target="_blank"class="icoGithub" title="Github">
              <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon></a></li>
        </ul>
  
      </div>
      </div>
    </div>
  </div>

</div>



  <div class="row justify-content-center">
  <div class="col-md-2 mb-2 mr-3 m-5">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img
          class="nossas-fotos p-3"
          src="/assets/img-icones-redes-desenvolvedores/Thaina-foto.jpg"
          alt="Thaina"
        />

        <p class="text-lg-center font-weight-bold">
          Thaina da Silva
        </p>
        <p class=" text-lg-center font-weight-bold" style="color: rgb(23, 97, 39);">
          Developer Full Stack
        </p>
 
        </div>

        <div class="flip-card-back">
          <h5 class="pt-5 font-weight-bold">Thaina da Silva</h5>
  
        
          <ul>
            <li><a href="https://www.linkedin.com/in/thaina-silva-07a3ba136/" target="_blank" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon></a></li>
            <li><a  href="https://github.com/Thaina2405" target="_blank"class="icoGithub" title="Github">
              <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon></a></li>
        </ul>

      </div>
      </div>
    </div>
  </div>


  <div class="col-md-2 mb-2 mr-3 m-5 ">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img
          class="nossas-fotos p-3"
          src="/assets/img-icones-redes-desenvolvedores/Vinicius-foto.jpg"
          alt="Vinicius"
        />

        <p class="text-lg-center font-weight-bold">
          Vinicius Rodrigues
        </p>
        <p class="text-lg-center font-weight-bold" style="color: rgb(23, 97, 39);">
          Developer Full Stack
        </p>

       </div>

       <div class="flip-card-back">
        <h5 class="pt-5 font-weight-bold">Vinicius Rodrigues</h5>

          <ul>
          <li><a href="https://www.linkedin.com/in/vinicius-silva-rodrigues-228b97117/" target="_blank" class="icoLinkedin" title="Linkedin">
            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x"></fa-icon></a></li>
          <li><a  href="https://github.com/RodriguesVinni" target="_blank"class="icoGithub" title="Github">
            <fa-icon [icon]="faGithub" class="faGithub fa-3x"></fa-icon></a></li>
      </ul>

    </div>

    </div>
  </div>
</div>
</div>

</div>
</div>


  <div class="d-flex justify-content-end p-5">
    <a (click)="scrollTop()" class="button">
      <img
        style="height: 50px; width: 50px"
        src="assets/up-arrow.png"
        alt="Up Arrow"
    /></a>
  </div>






