<div class="container">
  <div class="row">
    <div class="col-md-6 p-3">
      <h1 class="font-weight-bold cor-sobre">Quem somos</h1>
      <div>
        <p>
          Somos um e-commerce com produtos produzidos de forma ecológica através de uma impressora 3D, 
          para cães e gatos com necessidades especiais. O site oferece também a opção de doação para ONG's e abrigos. 
          O objetivo é oferecer produtos que geram menos impactos ao meio ambiente e com preço acessível, 
          e que também possibilite a melhora na qualidade de vida desses animais.
        </p>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6"></div>

    <div class="col-md-6">
      <h2 class="font-weight-bold cor-sobre">
        Responsabilidade<br />
         com os animais<br />
      </h2>

      <div class="col-lg text-lg-right">
        <p class="d-flex justify-content-left">
          Na HelpPet, a saúde e bem-estar dos pets vêm sempre em primeiro lugar. 
          Além de oferecer os melhores produtos ecológicos, apoiamos a adoção e a defesa dos direitos dos animais.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="font-weight-bold cor-sobre">
        Responsabilidade<br>
        socioambiental
      </h2>

      <div class="col-lg older-lg-1 text-lg-right">
        <p>
          Assumimos o compromisso de sermos agentes de mudança, e por isso nossa empresa possuí a política e cultura voltadas 
          para a preservação do meio ambiente e nos preocupamos com o mundo que será deixado para as gerações futuras. 
          
        </p>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <h2 class="font-weight-bold cor-sobre">
        Como doar?
      </h2>

      <div class="col-lg older-lg-1 text-lg-right">
        <p>
          Para doar você pode entrar em contato pelo e-mail helppet@e-commerce.com,
          e um de nosso especialistas irá entrar em contato para lhe atender.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron d-flex justify-content-center align-items-center flex-column" style="background-color: white;">
    
   <div class="row row-cols-1 row-cols-sm- row-cols-md-4">
      <div class="col m-5"><div class="card" style="width: 18rem;">
          <img src="/assets/img-quem-somos/Dog-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title cor-sobre">Missão</h5>
            <p class="card-text">Possibilitar uma vida mais feliz aos pets através de nossos produtos. </p>
            </div>
        </div></div>
      <div class="col m-5"><div class="card" style="width: 18rem;">
          <img src="/assets/img-quem-somos/Cat2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title cor-sobre">Visão</h5>
            <p class="card-text">Ajudar todos os animais especiais que precisam de mais qualidade de vida, e ser referência em vendas de produtos acessíveis e de materiais que não agridem o meio ambiente.</p>
            </div>
        </div></div>
      <div class="col m-5"><div class="card" style="width: 18rem;">
          <img src="/assets/img-quem-somos/Dog-3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title cor-sobre">Valores</h5>
            <p class="card-text"> - Somos apaixonados por pets; </p>
              <p class="card-text">- Respeitamos uns aos outros;</p>
              <p class="card-text">- Temos um compromisso com o meio ambiente;</p>
              <p class="card-text">- Encantamos nossos clientes;</p>
              <p class="card-text">- Temos prazer em servir.</p>
         
          </div>
        </div>
      </div>
     
    </div>
</div>
 


<h1 class="text-center p-5 cor-sobre">Nosso time</h1>
<div class="row text-center">
  <div class="col-md-4">
    <div>
      <div>
        <img
          class="nossas-fotos p-3"
          src="https://img2.gratispng.com/20180309/whw/kisspng-drawing-person-photography-the-man-5aa29ecd53c1f6.1798435715206069253431.jpg"
          alt="Dev 1"
        />

        <p class="text-lg-center">
          Caroline das Mercês
        </p>
        <p class="text-lg-center">
          Desenvolvedora - Scrum Master
        </p>
        
        </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <div>
        <img
          class="nossas-fotos p-3"
          src="https://img2.gratispng.com/20180309/whw/kisspng-drawing-person-photography-the-man-5aa29ecd53c1f6.1798435715206069253431.jpg"
          alt="Dev 1"
        />

        <p class="text-lg-center">
          Cleiton Andrade
        </p>
        <p class="text-lg-center">
          Desenvolvedor
        </p>
             
      </div>
    </div>
  </div>

  <div class="col-md-4 p-10">
    <div>
      <div>
        <img
          class="nossas-fotos p-3"
          src="https://img2.gratispng.com/20180309/whw/kisspng-drawing-person-photography-the-man-5aa29ecd53c1f6.1798435715206069253431.jpg"
          alt="Dev 1"
        />

        <p class="text-lg-center">
          Deborah Evelyn
        </p>
        <p class="text-lg-center">
          Desenvolvedora
        </p>
      
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div>
      <div>
        <img
          class="nossas-fotos p-3"
          src="https://img2.gratispng.com/20180309/whw/kisspng-drawing-person-photography-the-man-5aa29ecd53c1f6.1798435715206069253431.jpg"
          alt="Dev 1"
        />

        <p class="text-lg-center">
          Julio Cesar
        </p>
        <p class="text-lg-center">
          Desenvolvedor - Tech Lead
        </p>
       
        
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div>
      <div>
        <img
          class="nossas-fotos p-3"
          src="https://img2.gratispng.com/20180309/whw/kisspng-drawing-person-photography-the-man-5aa29ecd53c1f6.1798435715206069253431.jpg"
          alt="Dev 1"
        />

        <p class="text-lg-center">
          Raquel Figueiredo
        </p>
        <p class="text-lg-center">
          Desenvolvedora
        </p>
      
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div>
      <div>
        <img
          class="nossas-fotos p-3"
          src="https://img2.gratispng.com/20180309/whw/kisspng-drawing-person-photography-the-man-5aa29ecd53c1f6.1798435715206069253431.jpg"
          alt="Dev 1"
        />

        <p class="text-lg-center">
          Thaina da Silva
        </p>
        <p class="text-lg-center">
          Desenvolvedora
        </p>
 
        </div>
    </div>
  </div>

  <div class="col-md-3">
    <div>
      <div>
        <img
          class="nossas-fotos p-3"
          src="https://img2.gratispng.com/20180309/whw/kisspng-drawing-person-photography-the-man-5aa29ecd53c1f6.1798435715206069253431.jpg"
          alt="Dev 1"
        />

        <p class="text-lg-center">
          Vinicius Rodrigues
        </p>
        <p class="text-lg-center">
          Desenvolvedor
        </p>

       </div>
    </div>
  </div>
</div>

