<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 text-center pt-5 bg-dark">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-12 col-md-6 text-white mb-5 text-left">
        <h3 class="lead font-weight-bold">Sobre a HelpPet</h3>
        <a (click)="scrollTop()" class="text-white" routerLink="/sobre"
          >Quem Somos</a
        >
        <div>
          <a (click)="scrollTop()" class="text-white" routerLink="/login"
            >Login</a
          >
        </div>
        <div>
          <a (click)="scrollTop()" class="text-white" routerLink="/cadastro"
            >Cadastre-se</a
          >
        </div>
        <div>
          <a
            class="text-white"
            href="https://wa.me/5511981238234O?text=Seja bem-vinde ao chat da HelpPet!%20Em%20que%20podemos%20te%20ajudar?%20:)"
            target="_blank:"
            >Whatsapp</a
          >
        </div>
        <div class="mt-3">
          <a class="text-white" routerLink="/home"
            >Nossos produtos</a
          >
        </div>
      </div>
      
        
      <div class="col-12 col-md-6">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic text-white">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic text-white">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic text-white">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic text-white">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <div class="d-flex justify-content-center mr-md-5">
            <a (click)="scrollTop()" routerLink="/sobre"
            ><img style="height: 200px; width: 200px" src="assets/logo.svg" alt="logo"></a>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-gray-dark text-white">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">HelpPet.com</a>
    |
    <span
      >Feito com
      <span class="text-danger"><i class="fas fa-heart mr-2"></i></span>pelo
      Squad 5.</span
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
