ul.social-network {
  list-style: none;
  display: inline;

  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.faFacebook,
.faLinkedin,
.faInstagram {
  color: rgb(4, 28, 59);
}
