<div class="container">

    <div class="row mt-5 mb-5 mx-auto d-flex justify-content-center border w-75 shadow">
        <div class="col-md-12 text-center">
          </div>
        <div>
          <p class="text-center mb-4 font-weight-bold p-3">Cadastre uma nova categoria</p>
       
  
          <div class="form-group" >
            <label class="text-monospace col-md-8 font-weight-bold" for="texto "> Categoria:</label>
            <input class="form-control" id="texto" rows="3" placeholder="">
        </div>

        <div class="form-group" >
            <label class="text-monospace col-md-8 font-weight-bold" for="texto ">Sub categoria:</label>
            <input class="form-control" id="texto" rows="3" placeholder="">
        </div>

        <div class="form-group" >
            <label class="text-monospace col-md-6 font-weight-bold" for="texto ">Seção categoria:</label>
            <input class="form-control" id="texto" rows="3" placeholder="">
        </div>

        <div class="row mb-5">
          <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-success w-25 mr-4" >Cadastrar</button>
            <button class="btn btn-outline-danger w-25" >Cancelar</button>
          </div>
          
        </div>

        
  
             
  
    </div>
    </div>
  </div>
